.profile{
    display: flex;
    flex-direction: column;
    width:350px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
   
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    background-color: white;
    padding: 8px;
}
.avatar{
width: 50%;
border-radius: 50%;
margin-left: auto;
margin-right: auto;

}
.name{
font-size: 24px;
font-weight: 700;
margin: 8px;
}
.tag{
font-size: 18px;
color: gray;
margin: 8px;
}
.location{
font-size: 18px;
color: gray;
margin: 8px;
}
.stats{
    display: flex;
    list-style: none;
    margin: 0;
    height: 75px;
    padding: 0;
    background-color: lightgrey;
    width:100%
}
.statsItem{
    width: calc(100% / 3 - 30px);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin: auto;
    background-color: lightgrey;
    
    padding: 4px;
}   

.statsItem:not(:last-child){
    border-right: 1px solid grey;
}

.label{
font-size: 16px;
margin-bottom: 4px;
text-align: center;
}
.quantity{
font-size: 16px;
font-weight: 700;
text-align: center;
}